<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <span class="version">Version 1.0</span>
    </head>
    <body>
        <h1>Edit Assignment</h1>
        

        <form id="formeditassignment" action= "/updateA" method="POST" >
            <div class="container">
                Assignment Name: <br/>
                <input type="text" value = <%=aname%> required><br/>
                Class: <br/>
                <input type="text" value = <%=aclass%> required><br/>
                Due Date: <br/>
                <input type="text" value = <%=dday%> required><br/>
                Due Month: <br/>
                <input type="text" value = <%=dmonth%> required><br/>
                Due Year: <br/>
                <input type="text" value = <%=dyear%> required><br/>
            </div>
            
            <div class="container">
                <button type="submit">Update</button><br \>
                <span class="Back"><a href="/">Back</a></span>
            </div>
        </form>

    </body>
    
</html>
